@import "fonts.css";

:root {
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-medium-grey: hsl(216, 12%, 54%);
    --color-orange: hsl(25, 97%, 53%);
    --color-very-dark-blue: hsl(216, 12%, 8%);
    --color-white: hsl(0, 0%, 100%);
}


body {
    align-items: center;
    background-color: var(--color-very-dark-blue);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    justify-content: center;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

main {
    background-color: var(--color-dark-blue);
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2rem;
    width: 412px;
}

p {
    color: hsl(217, 12%, 63%);
}

button {
    background-color: var(--color-orange);
    border: none;
    border-radius: 3rem;
    color: var(--color-white);
    letter-spacing: .2em;
    margin-top: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    width: 100%;
}

button:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
}

.circle {
    align-items: center;
    background-color: var(--color-medium-grey);
    border-radius: 50%;
    display: inline-flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
}

.circle:hover {
    background-color: var(--color-orange);
    cursor: pointer;
}

.rating-container {
    display: flex;
    justify-content: space-between;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label .circle {
    background-color: var(--color-light-grey);
}

#thank-you {
    display: none;
}

.attribution {
    font-size: 11px;
    margin-top: .75rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
