@import "fonts.css";

:root {
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-medium-grey: hsl(216, 12%, 54%);
    --color-orange: hsl(25, 97%, 53%);
    --color-very-dark-blue: hsl(216, 12%, 8%);
    --color-white: hsl(0, 0%, 100%);

    /* A similar color seems to be missing in the style-guide.md */
    --color-main: hsl(215, 27%, 12%);
}

html {
    font-size: min(4vw, 16px);
}


body {
    align-items: center;
    background-color: var(--color-very-dark-blue);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
    justify-content: center;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

main {
    background-color: var(--color-main);
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2rem;
    width: 412px;
}

h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem;
}

p {
    color: var(--color-light-grey);
}

button {
    background-color: var(--color-orange);
    border: none;
    border-radius: 3rem;
    color: var(--color-white);
    letter-spacing: .2em;
    padding: 1rem;
    text-transform: uppercase;
    width: 100%;
}

button:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
    cursor: pointer;
}

.circle {
    align-items: center;
    background-color: var(--color-dark-blue);
    border-radius: 50%;
    color: var(--color-light-grey);
    display: inline-flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
}

.rating-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

form .circle:hover,
input[type="radio"]:checked + label .circle:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label .circle {
    background-color: var(--color-medium-grey);
    color: var(--color-white);
}

.thank-you {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rating-result {
    background-color: var(--color-dark-blue);
    border-radius: 1rem;
    color: var(--color-orange);
    margin: 2rem 0 1rem;
    padding: .3rem 1rem;
}

.thank-you-text {
    margin: 0;
}

.attribution {
    font-size: 11px;
    margin-top: .75rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
